.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.heading {
  display: flex;
  justify-content: center;
}

.heading img {
  margin: 0;
  padding: 0;
  width: 80px;
  object-fit: contain;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.play-button {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.play-button button {
  background-color: #4ECCA3;
  color: #393E46;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;
}
