.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.heading {
  display: flex;
  justify-content: center;
}

.heading img {
  margin: 0;
  padding: 0;
  width: 80px;
  object-fit: contain;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.play-button {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.play-button button {
  background-color: #4ECCA3;
  color: #393E46;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;
}
.score {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  background-color: #232931;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 20px;
}
.score-text {
  display: flex;
  column-gap: 6px;
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.paragraph {
  margin-right: 20px;
  margin-left: 10px;
}

.reset-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #4ECCA3;
}
.reset-button button {
  color: #4ECCA3;
  font-size: 20px;
  background-color: #393E49;
  padding: 10px;
}
